/* CSS for https://jscd.pw
 *  
 */

@import url("fonts/fonts.css");


body, html {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 20px;
}

body .dark {
	background-color: #141414;
	color: #FFFDEB;
}

body {
	background-color: #FFFFFF;
	color: black;
	width: 100%;
	display: grid;
	grid-template-columns: auto;
}

ul {
	margin-top: 0;
	padding-bottom: 15px;
	list-style: none;
	padding-left: 0.2vw;
}

li::before {
	/*content: "\1F78C";*/
	content: "\2B1D";

	font-weight: bold;
	padding-right: 0.1vw;
}

a {
	color: #0000EE;
	text-decoration: underline;
}

a:hover {
	color: #EE0044;
}


.tooltip {
	cursor: help;
	color: darkgreen;
	text-decoration: none;
}

.tooltip:hover {
	transition: 0.75s;
	background-color: lightblue;
	text-decoration: line-through;
	color: black;
}

.content {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
    font-family: 'Lato', serif;
    font-weight: 300;
	position: relative;
	font-size: 115%;
	padding-top: 2%;
}

.content b {
	font-family: 'Lato', serif;
	font-weight: 400;
}

code, em {
	font-size: 90%;
	font-family: 'Source Code Pro';
	font-weight: 400;
}

pre {
	padding: 0;
	margin: 0;
}

.heading {
	font-weight: bold;
	line-height: 115%;
	font-family: 'Lato', serif;
	margin: 0;
}

.content .uni {
	overflow: hidden;
	position: absolute;
	width: 70%;
	left: 50%;
	z-index: 0;
}

.content .text {

	opacity: 0;
	margin-top: 5%;
	margin-left: 25%;
	width: 40vw;
	line-height: 100%;
	z-index: 100;
	overflow: visible;
	height: 100%;
}

.content .text .title {
	top: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
    font-family: 'Grenze', serif;
    font-weight: 200;
    font-size: 225%;
}

.content .namebar {
	line-height: 150%;
}

.content .text .name {
	margin-top: 0;
	padding-top: 3%;
    font-family: 'Grenze', serif;
    font-weight: bold;
    font-size: 250%;
}

[data-title]:hover:after, [data-title]:active:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 110%;
    padding: 4px 4px 4px 8px;
    color: #222;
    /*white-space: nowrap;*/
    min-width: 300%;
    display: flex;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;  
    border-radius: 5px;  
    -moz-box-shadow: 0px 0px 4px #222;  
    -webkit-box-shadow: 0px 0px 4px #222;  
    box-shadow: 0px 0px 4px #222;  
    background-color: #111111;
    color: white;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

.eb {
	padding-left: 1%;
	padding-right: 1%;
}

.noclick {
	pointer-events: none;
	cursor: default;
}

.mobile {
	display: none;
}

@media only screen and (max-width: 812px) {
	.content {
		overflow: auto;
		overflow-x: hidden;
		height: 100%;
		padding-top: 2%;
		padding-left: 3%;
	}

	.content code {
		font-size: 3.5vw;
	}

	.content .uni {
		overflow: hidden;
		overflow-x: hidden;
		width: 200%;
		left: -12%;
	}

	.content .text {
		overflow: visible;
		width: 55vw;
		margin-top: 100px;
		font-size: 4vw;
		margin-left: 0;
		padding-left: 0;
		line-height: 5.5vw;
		height: 100%;
	}

	.content .text .title {
		font-size: 7vw;
	}

	.content .text .name {
		font-size: 8vw;
		line-height: 7vw;
	}

	[data-title]:after {
		left: 0;
		bottom: 1.6em;
	}

	svg #Frame_x5F_Seat #Seat_1_ {
		transform-origin: 50% 0%;
		transform: rotateY(180deg);
	}

	.nonmobile {
		display: none;
	}

	.mobile {
		display: inline;
	}

	@keyframes rideUnicycleA {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes rideUnicycleB {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes spinPedalA {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}

	@keyframes spinPedalB {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}
}








/* ANIMATION STUFF





 */

.content .text {
	-webkit-animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 normal forwards;
	animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 normal forwards;
}

html body .content #loaded {
	-webkit-animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 reverse backwards paused;
	animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 reverse backwards paused;
}



@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadein {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

/* Unicycle SVG */
svg {
	width: 100%;
	align-self: center;
}

.Frame_x5F_Seat {
	transform-origin: 49% 70%;

	/*cubic-bezier(0.990, -0.005, 0.965, 0.970)*/
	-webkit-animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse backwards;
	animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse backwards;

}

#loaded .Frame_x5F_Seat {
	transform-origin: 49% 70%;

	/*cubic-bezier(0.990, -0.005, 0.965, 0.970)*/
	-webkit-animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse forwards paused;
	animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse forwards paused;
}

.Wheel, .FrontPedal, .BackPedal {
	transform-origin: 49% 70.5%;
	-webkit-animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;
	animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;

/*	-webkit-animation-name: rideUnicycle, rideUnicycle;
	-webkit-animation-duration: 6s, 4.8s;
	-webkit-animation-timing-function: ease-in, linear;
	-webkit-animation-delay: 2.2s, 8.3s;
	-webkit-animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards, forwards;*/
}

#loaded .Wheel, #loaded .FrontPedal, #loaded .BackPedal {
	transform-origin: 49% 70.5%;

	-webkit-animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
	animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
}

.FrontPedal .Pedal {
	transform-origin: 55% 81%;
}

.BackPedal .Pedal {
	transform-origin: 43% 60.5%;
}

.FrontPedal .Pedal, .BackPedal .Pedal {
	-webkit-animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
	animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
}

#loaded .FrontPedal .Pedal, #loaded .BackPedal .Pedal {
	-webkit-animation: spinPedalB 4.8s linear 0s infinite normal forwards;
	animation: spinPedalB 4.8s linear 0s infinite normal forwards;
}

@keyframes dropUnicycle {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(-105deg);}
}

@keyframes rideUnicycleA {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes rideUnicycleB {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes spinPedalA {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes spinPedalB {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes rideAway {
	0% {transform: translateX(0%);}
	100% {transform: translateX(40%);}
}

@-webkit-keyframes dropUnicycle {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(-105deg);}
}

@-webkit-keyframes rideUnicycleA {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}

@-webkit-keyframes rideUnicycleB {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}

@-webkit-keyframes spinPedalA {
	0% {-webkit-transform: rotateZ(0deg);}
	100%{-webkit-transform: rotateZ(-360deg);}
}

@-webkit-keyframes spinPedalB {
	0% {-webkit-transform: rotateZ(0deg);}
	100%{-webkit-transform: rotateZ(-360deg);}
}

/* Unicycle SVG CSS */
.st0{fill:#1A1A1A;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#808080;}
.st3{fill:#666666;}
.st4{fill:#F7931E;}
.st5{fill:#F76F1E;}

.dark .st0{fill:#FFF9C2;}
.dark .st1{fill:#FFF9C2;stroke:#FFF9C2;stroke-miterlimit:10;}
.dark .st2{fill:#9B1C1C;}
.dark .st3{fill:blue;}
.dark .st4{fill:#9B1C1C;}
.dark .st5{fill:#DB3A34;}
.dark .st6{fill:#756D54;}
.dark .st7{fill:#756D54;}
.dark .st8{fill:#9B1C1C;}