/* CSS for https://jscd.pw
 *  
 */

@import url("fonts/fonts.css");


body {
	margin: auto;
	background-color: #FFFFFF;
	color: black;
}

header {
	width: 475px;
	line-height: 150%;
	margin: 130px 0 15px 10vw;
}

header h2 {
	margin: 0;
    font-family: 'Grenze', serif;
    font-weight: 200;
    font-size: 36px;
}

header h1 {
	margin: 3% 0 0 0;
    font-family: 'Grenze', serif;
    font-weight: bold;
    font-size: 40px;
}

main {
	width: 475px;

	margin: 2% 0 10px 10vw;

	position: relative;

    font-family: 'Lato', serif;
	font-size: 16px;
	line-height: 19px;

	z-index: 100;
}

p {
	padding: 1% 0 1% 0;
}

h3 {
	font-weight: bold;
	line-height: 115%;
	font-family: 'Lato', serif;
	margin: 0;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	transition: 0.15s;
	color: white;
	background-color: black;
	text-decoration: none;
}

em, code, pre {
	font-size: 90%;
	font-family: 'Source Code Pro';
	font-weight: normal;
}



ul {
	margin-top: 0;
	padding-bottom: 15px;
	list-style: none;
	padding-left: 0.2vw;
}

li::before {
	/*content: "\1F78C";*/
	content: "\2B1D";

	font-weight: bold;
	padding-right: 0.1vw;
}

.notyet {
	cursor: not-allowed;
	color: darkgreen;
	text-decoration: none;
}

.notyet:hover {
	transition: 0.75s;
	background-color: lightblue;
	text-decoration: line-through;
	color: black;
}

.uni {
	position: absolute;
	overflow: hidden;
	height: 500px;
	width: 538px;
	left: 40vw;
}

#Unicycle {
	position: absolute;
	width: 1100px;
	margin-left: -150px;
	z-index: 0;
}


.mobile {
	display: none;
}


@media only screen and (max-width: 812px) {
	body, html { /* literally no idea why this works */
		position: relative;
		overflow-x: hidden;
	}

	header {
		margin-top: 10%;
		line-height: 200%;
	}

	main, header {
		margin-left: 5%;
		width: 250px;
	}

	.uni {
		left: 5vw;
	}

	.Seat_1_ {
		transform-origin: 50% 0%;
		transform: rotateY(180deg);
	}

	.nonmobile {
		display: none;
	}

	.mobile {
		display: inline;
	}
}


/* Unicycle SVG CSS */
.st0{fill:#1A1A1A;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#808080;}
.st3{fill:#666666;}
.st4{fill:#F7931E;}
.st5{fill:#F76F1E;}


.dark {
    color: #eee;
    background-color:#01242e;
    color: #ddd;
}

.dark a {
    color: white;
}

.dark a:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}


.dark .notyet {
	cursor: not-allowed;
	color: lightblue;
	text-decoration: none;
}


.dark .notyet:hover {
	transition: 0.75s;
	background-color: #9B1C1C;
	text-decoration: line-through;
	color: white;
}



.dark .st0{fill:#FFF9C2;}
.dark .st1{fill:#FFF9C2;stroke:#FFF9C2;stroke-miterlimit:10;}
.dark .st2{fill:#9B1C1C;}
.dark .st3{fill:blue;}
.dark .st4{fill:#9B1C1C;}
.dark .st5{fill:#CF2626;}
.dark .st6{fill:#756D54;}
.dark .st7{fill:#756D54;}
.dark .st8{fill:#9B1C1C;}








/* ANIMATION STUFF





 */

main, header {
	opacity: 0;
	-webkit-animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 normal forwards;
	animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 normal forwards;
}

html body #loaded {
	opacity: 1;
	-webkit-animation: none;
	animation: none;
}



@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes fadein {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

/* Unicycle SVG */
svg {
	width: 100%;
	align-self: center;
}

.Frame_x5F_Seat {
	transform-origin: 49% 70%;

	/*cubic-bezier(0.990, -0.005, 0.965, 0.970)*/
	-webkit-animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse backwards;
	animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse backwards;

}

#loaded .Frame_x5F_Seat {
	transform-origin: 49% 70%;

	/*cubic-bezier(0.990, -0.005, 0.965, 0.970)*/
	-webkit-animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse forwards paused;
	animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse forwards paused;
}

.Wheel, .FrontPedal, .BackPedal {
	transform-origin: 49% 70.5%;
	-webkit-animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;
	animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;
}

#loaded .Wheel, #loaded .FrontPedal, #loaded .BackPedal {
	transform-origin: 49% 70.5%;

	-webkit-animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
	animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
}

.FrontPedal .Pedal {
	transform-origin: 55% 81%;
}

.BackPedal .Pedal {
	transform-origin: 43% 60.5%;
}

.FrontPedal .Pedal, .BackPedal .Pedal {
	-webkit-animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
	animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
}

#loaded .FrontPedal .Pedal, #loaded .BackPedal .Pedal {
	-webkit-animation: spinPedalB 4.8s linear 0s infinite normal forwards;
	animation: spinPedalB 4.8s linear 0s infinite normal forwards;
}

@keyframes dropUnicycle {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(-105deg);}
}

@keyframes rideUnicycleA {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes rideUnicycleB {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes spinPedalA {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes spinPedalB {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes rideAway {
	0% {transform: translateX(0%);}
	100% {transform: translateX(40%);}
}

@-webkit-keyframes dropUnicycle {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(-105deg);}
}

@-webkit-keyframes rideUnicycleA {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}

@-webkit-keyframes rideUnicycleB {
	0% {-webkit-transform: rotateZ(0deg);}
	100% {-webkit-transform: rotateZ(360deg);}
}

@-webkit-keyframes spinPedalA {
	0% {-webkit-transform: rotateZ(0deg);}
	100%{-webkit-transform: rotateZ(-360deg);}
}

@-webkit-keyframes spinPedalB {
	0% {-webkit-transform: rotateZ(0deg);}
	100%{-webkit-transform: rotateZ(-360deg);}
}

@media only screen and (max-width: 812px) {
	@keyframes rideUnicycleA {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes rideUnicycleB {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes spinPedalA {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}

	@keyframes spinPedalB {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}
}
