body {
	/*font-family: 'Lato', sans-serif;*/
    font-family: system-ui, sans-serif;
    font-weight: normal;
	color: black;
	background-color: #f2f2f2;

	overflow-x: hidden;
	left: auto;
	margin: 50px 0 auto 25%;
	width: min-content;
	display: block;
}

header {
    font-family: 'Grenze', serif;
	line-height: 150%;

	width: 475px;
	margin: 0 0 2% 0;
}

header h2 {
    font-weight: 200;
    font-size: 36px;

	margin: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;

	margin: 3% 0 0 0;
}

section {
	width: 775px;
	height: max-content;

	margin: 0 auto;
	display: inline-block;
}

footer {
    color: #a6a6a6;
    font-size: 14px;

    padding: 10px;
    margin: auto;
    width: 475px;
    height: 15px;
}

main {
	font-size: 16px;
	line-height: 19px;

	width: 475px;
	display: inline;
	float: left;
}

.uni {
	display: inline;
	float: right;
}

p {
	padding: 0.5% 0;
}

h3 {
	font-weight: bold;
	line-height: 115%;

	margin: 0;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	transition: 0.15s;
	color: white;
	background-color: black;
	text-decoration: none;
}

em, code, pre {
	font-size: 90%;
	font-family: monospace; 
	font-weight: normal;
}

ul {
	margin-top: 0;
	padding-bottom: 15px;
	list-style: none;
	padding-left: 0.2vw;
}

li::before {
	content: "\2B1D";
	font-weight: bold;
	padding-right: 0.1vw;
}

.notyet {
	cursor: not-allowed;
	color: darkgreen;
	text-decoration: none;
}

.notyet:hover {
	transition: 0.75s;
	background-color: lightblue;
	text-decoration: line-through;
	color: black;
}

.uni {
	overflow: visible;
	height: 500px;
	width: 300px;
	left: 250px;
}

#Unicycle {
	width: 1100px;
	height: 500px;
	margin-left: -390px;
	pointer-events: none;
}


.mobile {display: none;}


@media only screen and (max-width: 812px) {
	body, html { /* literally no idea why this works */
		position: relative;
		overflow-x: hidden;
	}

	body {
		margin: 50px 0 auto 5%;
		width: 95vw;
	}

	main, header {
		width: 250px;
	}

	header {
		line-height: 200%;
		padding-bottom: 5px;
	}

	section, header {
		overflow:hidden;
	}

	.uni {
		float: left;
		margin: 0 auto 10px auto;
	}

	.Seat_1_ {
		transform-origin: 50% 0%;
		transform: rotateY(180deg);
	}

	.nonmobile {
		display: none;
	}

	.mobile {
		display: inline;
	}
}

/* Unicycle SVG CSS */
.st0{fill:#1A1A1A;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#808080;}
.st3{fill:#666666;}
.st4{fill:#F7931E;}
.st5{fill:#F76F1E;}

@media (prefers-color-scheme: dark){
	body {
	    color: #eee;
	    background-color:#01242e;
	    color: #ddd;
	}

	a {
	    color: white;
	}

	a:hover {
	    text-decoration: none;
	    color: black;
	    background-color: white;
	}


	.notyet {
		cursor: not-allowed;
		color: lightblue;
		text-decoration: none;
	}


	.notyet:hover {
		transition: 0.75s;
		background-color: #9B1C1C;
		text-decoration: line-through;
		color: white;
	}

	.st0{fill:#FFF9C2;}
	.st1{fill:#FFF9C2;stroke:#FFF9C2;stroke-miterlimit:10;}
	.st2{fill:#9B1C1C;}
	.st3{fill:blue;}
	.st4{fill:#9B1C1C;}
	.st5{fill:#CF2626;}
	.st6{fill:#756D54;}
	.st7{fill:#756D54;}
	.st8{fill:#9B1C1C;}
}

/* ANIMATION STUFF */

main, header, footer {
	opacity: 0;
	animation: fadein 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1.5s 1 normal forwards;
}

#loaded, #loaded * {
	opacity: 1;
	animation: none;
}



@keyframes fadein {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* Unicycle SVG */
svg {
	width: 100%;
	align-self: center;
}

.Frame_x5F_Seat {
	transform-origin: 49% 70%;
	animation: dropUnicycle 1.2s cubic-bezier(0.565, 0.070, 0.245, 1.010) 1s 1 alternate-reverse backwards;

}

#loaded .Frame_x5F_Seat {
	animation: paused;
}

.Wheel, .FrontPedal, .BackPedal {
	transform-origin: 49% 70.5%;
	animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;
}

#loaded .Wheel, #loaded .FrontPedal, #loaded .BackPedal {
	animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
}

.FrontPedal .Pedal {
	transform-origin: 55% 81%;
}

.BackPedal .Pedal {
	transform-origin: 43% 60.5%;
}

.FrontPedal .Pedal, .BackPedal .Pedal {
	animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
}

#loaded .FrontPedal .Pedal, #loaded .BackPedal .Pedal {
	animation: spinPedalB 4.8s linear 0s infinite normal forwards;
}

@keyframes dropUnicycle {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(-105deg);}
}

@keyframes rideUnicycleA {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes rideUnicycleB {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes spinPedalA {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes spinPedalB {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes rideAway {
	0% {transform: translateX(0%);}
	100% {transform: translateX(40%);}
}

@media only screen and (max-width: 812px) {
	@keyframes rideUnicycleA {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes rideUnicycleB {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes spinPedalA {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}

	@keyframes spinPedalB {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}
}
