/* @font-face definitions */

 /* normal */
@font-face {
	font-family: 'Grenze';
	src: url('grenze/Grenze-Light.woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* bold */
@font-face {
	font-family: 'Grenze';
	src: url('grenze/Grenze-Bold.woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
