/* @font-face definitions */


@font-face {
    font-family: 'Lato';
    src: url('lato/Lato-Regular.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* normal */
@font-face {
	font-family: 'Grenze Gotisch';
	src: url('grenze_gotisch/GrenzeGotisch-ExtraLight.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* bold */
@font-face {
	font-family: 'Grenze Gotisch';
	src: url('grenze_gotisch/GrenzeGotisch-Bold.ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
