

#blog-head {
font-family: 'Grenze Gotisch', serif;
line-height: 150%;
font-weight: normal;
letter-spacing: normal;
}

#blog-head h2 {
  font-weight: 200;
  font-style: normal;
  font-size: 36px;
  margin: 0;
  /*line-height: 150%;*/
}

#blog-head h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

#blog-head p {
  font-family: 'et-book', serif;
  font-size: 1.2rem;
  padding: 0;
  /*color: #222;*/
  margin: 15px 0;
}
