body {
	font-family: 'et-book', serif;
	font-weight: normal;
	letter-spacing: normal;
	color: #222;
	background-color: #fffff8;

	overflow-x: hidden;
	left: auto;
	margin: 50px 0 auto 25%;
	width: min-content;
	display: block;
}

h1, h2, h3 {
	color: #000;
}


header {
	font-family: 'Grenze Gotisch', serif;
	line-height: 150%;

	width: 475px;
	margin: 0 0 2% 0;
}

header h2 {
	font-weight: 200;
	font-size: 36px;

	margin: 0;
}

header h1 {
	font-weight: bold;
	font-size: 40px;

	margin: 3% 0 0 0;
}

main {
	width: 775px;
	height: max-content;

	margin: 0 auto;
	display: inline-flex;
}

footer {
    color: #a6a6a6;
    font-size: 16px;

    padding: 10px;
    margin: auto;
    width: 475px;
    height: 15px;
}

main div {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;

	width: 465px;
	padding-right: 10px;
	display: inline;
	float: left;
}

.uni {
	display: inline;
	float: right;
}

p {
	padding: 0.5% 0;
}

h3 {
	font-weight: bold;
	line-height: 115%;

	margin: 0;
}

a {
	/*color: black;*/
	color: #444;
	text-decoration: underline;
}

a:hover {
	transition: 0.15s;
	color: white;
	background-color: black;
	text-decoration: none;
	text-shadow: black;
}

em, code, pre {
	font-size: 90%;
	font-family: monospace; 
	font-weight: normal;
}

ul {
	margin-top: 0;
	padding-bottom: 15px;
	list-style: none;
	padding-left: 0.2vw;
}

li::before {
	content: "\2B1D";
	font-weight: bold;
	padding-right: 0.1vw;
}

.notyet {
	cursor: not-allowed;
	color: darkgreen;
	text-decoration: none;
}

.notyet:hover {
	transition: 0.75s;
	background-color: lightblue;
	text-decoration: line-through;
	color: black;
}

.uni {
	overflow: visible;
	height: 500px;
	width: 300px;
	left: 250px;
}

#Unicycle {
	width: 1100px;
	height: 500px;
	margin-left: -390px;
	pointer-events: none;
}


.mobile {display: none;}


@media only screen and (max-width: 812px) {
	body, html { /* literally no idea why this works */
		position: relative;
		overflow-x: hidden;
	}

	body {
		margin: 50px 0 auto 5%;
		width: 95vw;
	}

	main div, header {
		width: 250px;
	}

	header {
		line-height: 200%;
		padding-bottom: 5px;
	}

	main, header {
		overflow:hidden;
	}

	.uni {
		float: left;
		margin: 0 auto 10px auto;
	}

	.Seat_1_ {
		transform-origin: 50% 0%;
		transform: rotateY(180deg);
	}

	.nonmobile {
		display: none;
	}

	.mobile {
		display: inline;
	}
}

/* Unicycle SVG CSS */

@media (prefers-color-scheme: dark){
	body {
	    color: #eee;
	    background-color:#01242e;
	}

	a, h1, h2, h3 {
	    color: #eee;
	}


	a:hover {
	    text-decoration: none;
	    color: black;
	    background-color: white;
	}


	.notyet {
		cursor: not-allowed;
		color: lightblue;
		text-decoration: none;
	}


	.notyet:hover {
		transition: 0.75s;
		background-color: #9B1C1C;
		text-decoration: line-through;
		color: white;
	}
}

/* Unicycle SVG */
svg {
	width: 500px;
	align-self: center;
}

