
.st0{fill:#1A1A1A;}
.st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st2,.st6,.st7{fill:#606060;}
.st3{fill:#666666;}
.st4{fill:#F7931E;}
.st5{fill:#F76F1E;}
.st8{fill:#1A1A1A;}

@media (prefers-color-scheme: dark){
	body {
	    color: #eee;
	    background-color:#01242e;
	}

	a, h1, h2, h3 {
	    color: #eee;
	}


	a:hover {
	    text-decoration: none;
	    color: black;
	    background-color: white;
	}


	.notyet {
		cursor: not-allowed;
		color: lightblue;
		text-decoration: none;
	}


	.notyet:hover {
		transition: 0.75s;
		background-color: #9B1C1C;
		text-decoration: line-through;
		color: white;
	}

    .st0,.st8{fill:#193740;}
	.st1{fill:none;stroke:#485f67;stroke-miterlimit:10;}
	.st2,.st6,.st7{fill:#485f67;}
    .st4{fill:#b76c13;}
    .st5{fill:#b75113;}
}

/* ANIMATION STUFF */
.Frame_x5F_Seat {
	animation: paused;
}

.Wheel, .FrontPedal, .BackPedal {
	transform-origin: 49% 70.5%;
	animation: rideUnicycleA 6s ease-in 2.2s 1 normal forwards, rideUnicycleB 4.8s linear 8.2s infinite normal forwards;
}

.Wheel, .FrontPedal, .BackPedal {
	animation: rideUnicycleB 4.8s linear 0s infinite normal forwards;
}

.FrontPedal .Pedal {
	transform-origin: 55% 81%;
}

.BackPedal .Pedal {
	transform-origin: 43% 60.5%;
}

.FrontPedal .Pedal, .BackPedal .Pedal {
	animation: spinPedalA 6s ease-in 2.2s 1 normal forwards, spinPedalB 4.8s linear 8.2s infinite normal forwards;
}

.FrontPedal .Pedal, .BackPedal .Pedal {
	animation: spinPedalB 4.8s linear 0s infinite normal forwards;
}

@keyframes dropUnicycle {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(-105deg);}
}

@keyframes rideUnicycleA {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes rideUnicycleB {
	0% {transform: rotateZ(0deg);}
	100% {transform: rotateZ(360deg);}
}

@keyframes spinPedalA {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes spinPedalB {
	0% {transform: rotateZ(0deg);}
	100%{transform: rotateZ(-360deg);}
}

@keyframes rideAway {
	0% {transform: translateX(0%);}
	100% {transform: translateX(40%);}
}

@media only screen and (max-width: 812px) {
	@keyframes rideUnicycleA {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes rideUnicycleB {
		0% {transform: rotateZ(0deg);}
		100% {transform: rotateZ(-360deg);}
	}

	@keyframes spinPedalA {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}

	@keyframes spinPedalB {
		0% {transform: rotateZ(0deg);}
		100%{transform: rotateZ(360deg);}
	}
}
